!!! 5
%html
  %head
    %title= site-title
  %body
    - if has-header
      != debug-open('partial: header')
      != render(:partial<header>, :locals(%( brand => site-title )))
      != debug-close('partial: header')
    - if has-sidebar
      %aside
        != render(:partial<sidebar>)
    %main
      != debug-open(template-label)
      = yield
      != debug-close(template-label)
    - if has-footer
      != debug-open('partial: footer')
      != render(:partial<footer>)
      != debug-close('partial: footer')
