!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title= site-title
    %link{rel: 'stylesheet', href: '/static/style.css'}
  %body
    %header
      %a.brand{href: '/'}= site-title
      != render(:partial<nav>)
    .layout
      %aside
        != render(:partial<search>)
      %main
        = yield
    %footer
      %p Built with Blogin.
